<% include partials/_header %>
<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <form action="/addDisco" method="post">
            <div class="form-group">
              <input class="form-control" type="text" name="titulo" id="titulo" placeholder="Título disco">
            </div>
            <div class="form-group">
              <select class="form-select form-control" aria-label="selector" name="interprete" id="interprete">
                <option selected>Selecciona el intérprete</option>
                <% for(var i=0; i < interpretes.length; i++) { %>
                  <option value="<%= interpretes[i]._id %>"><%= interpretes[i].nombre %></option>
                <% } %>
              </select>
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="anyo" id="anyo" placeholder="Año">
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="caratula" id="caratula" placeholder="Carátula del disco">
            </div>
            <div class="form-group">
              <textarea class="form-control" id="info" name="info" cols="80"
                placeholder="Información del disco"
                ></textarea>
            </div>
            <button class="btn btn-primary btn-block" type="submit">
              Añadir
            </button>
          </form>
        </div>
      </div>
      <div class="card-body">
        <a href="/discos/1" class="btn btn-warning">
          Volver
        </a>
      </div>
    </div>
</div>
<script>
  document.getElementById('titulo').focus()
 </script>
<% include partials/_footer %>