<% include partials/_header %>
<div class="container">
  <div class="row">
    <div class="col-md-5 offset-md-3">
      <div class="card">
        <div class="card-body">
          <a href="/cantantes/cantantes" class="btn btn-info btn-block">
            Cantantes
          </a>
        </div>
        <div class="card-body">
          <a href="/discos/discos" class="btn btn-success btn-block">
            Discos
          </a>
        </div>
        <div class="card-body">
          <a href="/canciones/canciones" class="btn btn-danger btn-block">
            Canciones
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<% include partials/_footer %>